.body{
    background-color: #ebebeb;
  
}
.form-register{
    display: flex;
    padding-top: 10px ;
    padding-bottom: 30px;
    
 }
 
 .form-register form{
    display: flex;
    margin: auto;
    flex-direction: column;
    width: 90%;
    padding: 0px;
    align-items: center;
    
 }
 .form-register label{
    display: flex;


 }
 .form-register div{
    
    padding: 5px 5px;
    text-align: left;
 }

 .form-register input{
    width: 230px;
    height: 25px;
    outline: none;
 }

 .radio-buton{
    display: flex;
    width: 90px;
    height: 30px;
    justify-content: left;
    gap: 2px;
 }

 .radio-buton label{
    padding-top: 8px;
 }
 .radio-buton input{
    width:  13px;
 }
 .check{
    display: flex;
    width: 90px;
    height: 30px;
    justify-content: left;
    gap: 2px;
 }
.check input {
    width: 13px;
}
.check label{
    padding-top: 8px;
}
.perfil{
    display: flex;
    flex-direction: column;
    padding: 5px;
}
.perfil label{
    padding: 5px;
    font-weight: bold;
    
}
.termino{
display: flex;
width: 100%;

}
.termino input{
    text-align:left;
    width: 13px;
}
.termino label{
    flex-wrap: wrap;
    padding-top: 9px;
    padding-left: 3px;
    gap: 2px;
}
.boton button{
    border-radius: 5px;
    background-color: #1259c3;
    color: #ccc;
    padding: 2px 8px;
}
.boton button a{
   text-decoration: none;
   color: #ccc;
}