@import './login.css';
@import './register.css';


* {
    box-sizing: border-box;
}

body {
    font-family: Roboto;
    font-size: 12px;
    padding: 0;
    margin: 0px;
}

.header {
    background-color: #EAC926;
    padding: 16px;
    margin: auto;
    

}
.header-img-search{
    display: flex;
    justify-content: space-between;
    padding: 2px 5px;
    
}
.header-logo {
    width: 50%;
    padding: 5px;

}
.form-search{
    display: flex;
    width: 50%;
    padding-top: 10px;
}

.header-texto {
    text-align: center;
}

.nav-menu {
    display: none;
}

.nav-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;

}



.burger {
    background-color: #1259c3;
    color: white;
    font-size: 16px;
    max-width: 30px;
    padding: 5px;
    border-radius: 4px;
    text-align: center;
    margin: auto;
}

.main {
    text-align: center;
    width: 90%;
    padding: 0;
    border: 0;
    margin: 0;

}

.main-banner-images {
    width: 111%;

}

.main-titulo {
    text-align: left;
    font-size: 24px;

}

.main-article-images {
    width: 280px;
}

.main-article {
    padding: 12px;

}

.main-article-text {
    text-align: left;
    border-top: 1px solid #ebebeb;
    padding: 15px;
}

.main-logo {

    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #fff;
    border-radius: 50%;
    color: #39b54a;
    right: 20px;
    top: -15px;

}

.main-precio {
    font-size: 18px;
    display: inline;

}

.main-descuento {
    font-size: 16px;
    display: inline;

}

.main-descripcion {
    display: none;
}

.footer-section {
    text-align: center;
    padding: 10px 16px;
}

.footer-icono {
    color: #1259c3;
    font-size: 2em;
    margin-bottom: 10px;
}

.footer-copy {
    text-align: left;
    padding-top: 10px;
}




@media(min-width: 768px) {
    .header {
        
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .form-search {
        padding: 20px;
        text-align: center;
    }
    .header-texto{
        padding-top: 10px;
    }
    .nav-menu{
       
        display: flex;
        justify-content: space-between;
    }
    .nav-menu ul{
        display: flex;
        list-style: none;
       
    }

    .nav-menu li{
        padding: 0px 10px;
       
    }
    .nav-menu-left{
        margin: auto;
        padding-left: 0px;
    }
    .nav-menu-right{
        
        padding-left: 130px;
    }



    .main-article {
        box-shadow: 0px 0px 10px rgb(100, 100, 100)
    }

    .burger {
        display: none;
    }

}